body {
  font-family: 'Roboto', monospace;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/c/c2/Pipeline_Barrel_%2851633882%29.jpeg/800px-Pipeline_Barrel_%2851633882%29.jpeg');
  background-repeat: no-repeat;
  background-size: 100%;
}
h1 {
  font-family: 'Martian Mono', monospace;
  text-align: center;
}
h2 {
  font-family: 'Martian Mono', monospace;
  text-align: center;
}

img {
  width: 200px;
  float: left;
  margin-right: 50px;
  margin-left: 50px;
}

.container{
  position: relative;
  text-align: center;
  color: yellow;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}